- title "MI6 Player Stats"
= javascript_include_tag "playerstats"

%table.tablesorter.table.table-striped
  %thead
    %tr
      %th Soldier Name
      %th Country
      %th Score
      %th Score/Min
      %th Kills
      %th KDR
      %th Headshot %
      %th Rounds Played
  %tbody
    = render @players

= paginate @players
