- title "MI6 Player Stats"
= javascript_include_tag "playerstats"

#graph_container{:data => {:pie => @pie_data}}

%hr/

%table.tablesorter
  %thead
    %tr
      %th Soldier Name
      %th Score
      %th Kills
      %th Deaths
      %th Headshots
      %th Killstreak
      %th Deathstreak
      %th Playtime
  %tbody
    = render @players
