- title "MI6 Player Stats"
#graph_container{:data => {:graph => @graph_data, :categories => @graph_categories}}

%hr/
%table.tablesorter
  %thead
    %tr
      %th Soldier Name
      %th Score
      %th Kills
      %th Headshots
      %th Deaths
      %th Playtime
  %tbody
    = render @players
