- title "MI6 Player Stats"

%h1 Graph of Headshots on MI6 Battlefield 3 Server
#placeholder{:style => "width:600px;height:300px"}

%hr

%table
  %thead
    %tr
      %th Soldier Name
      %th Score
      %th Kills
      %th Headshots
      %th Deaths
      %th Playtime
  %tbody
    = render @players

#headshots{:data => {:graph => @player_graph}}
