- title "MI6 Player Stats"
%table.tablesorter
  %thead
    %tr
      %th Soldier
      %th.no_arrow Score
  %tbody
    - @players.each do |playerstats|
      %tr
        %td= playerstats.SoldierName
        %td= playerstats.Score
