- title "MI6 Player Stats"
= javascript_include_tag "playerstats"

%table.tablesorter.table.table-striped{style: "font-size: 11px;"}
  %thead
    %tr
      %th Soldier
      %th.no_arrow Score
  %tbody
    - @players.each do |playerstats|
      %tr
        %td= playerstats.SoldierName
        %td= playerstats.Score
