- title "MI6 Dog Tags"
= javascript_include_tag "dogtags"

%table.tablesorter.table.table-striped
  %thead
    %tr
      %th Killer
      %th Victim
      %th Dog Tags Taken
  %tbody
    = render @dogtags

= paginate @dogtags
