- title "MI6 Dog Tags"
= javascript_include_tag "dogtags"

%h2 Top 25 Players Based on Dog Tags
%table.tablesorter.table.table-striped
  %thead
    %tr
      %th Soldier
      %th Dog Tags Taken
  %tbody
    - @dogtags.each do |killer, count|
      %tr
        %td= killer
        %td= count
