- title "MI6 Map Stats"
= javascript_include_tag "mapstats"

#graph_map{data: {categories: @categories, total: @total, left: @left, joined: @joined}}

%hr/

%table.tablesorter
  %thead
    %tr
      %th Game
      %th Map Name
      %th Game Mode
      %th Average Players
      %th Minimum Players
      %th Maximum Players
      %th Players Joined
      %th Players Left
  %tbody
    = render @mapstats
