body {
  background: url('/assets/background.png') repeat;
}

#main {
  background: white;
  overflow: hidden;
  padding: 10px;
  border: 1px solid black;
}

.country_code {
  display: inline;
}

.country_flag {
  display: inline;
}

.weapon .weapon_image img {
  max-width: 220px;
  max-height: 70px;
}

.weapon {
  height: 140px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
